/* コードブロック全体 (pre > code) のスタイル */
pre {
    /* 薄い灰色 */
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    /* 角を丸くする */
    overflow-x: auto;
    /* 横に長いコードに対応 */
}


figure {
  counter-increment: fig;
}

figcaption::before {
  content: "Fig. " counter(fig) ": ";
  font-weight: bold;
}
