# ファイル名: .github/workflows/convert-docs.yml

name: Pandoc Document Conversion
run-name: ${{ github.actor }} is Running Pandoc, Upload Actions

on:
  # "main" ブランチに push されたときに実行
  push:
    branches: [ "pipeline_test" ]
  # 手動でも実行できるようにする
  workflow_dispatch:

jobs:
  convert:
    # 実行環境
    runs-on: ubuntu-latest

    steps:
      # 1. リポジトリのコードをチェックアウトする
      - name: Check out repository
        uses: actions/checkout@v4
      # 2. 変換先のディレクトリを作成 (オプションだが推奨)
      - name: Create Artifact Directory
        run: mkdir -p artifact_output

      # 3. GitHubのPandoc Converter のPDFへの変換アクションを実行する
      - name: Convert Markdown to PDF
        uses: docker://pandoc/extra:3.8
        with:
          # 変換する入力ファイル
          source: "specification_png.md"
          # 出力するファイル名
          args: >-
            --output=artifact_output/specification.pdf
            --standalone
            --toc
            --number-sections
            -H pdf_custom.tex
            --

      # 4. GitHubのPandoc Converter のHTMLへの変換アクションを実行する
      - name: Convert Markdown to HTML
        uses: docker://pandoc/extra:3.8
        with:
          # 変換する入力ファイル
          source: "specification.md"
          # 出力するファイル名
          args: >-
            --output=artifact_output/specification.html
            --standalone
            --toc
            --number-sections
            -c pandoc.css
            -c custom.css

      # 5. PDF,HTMLアーティファクトのアップロード
      - name: Upload PDF Artifact
        uses: actions/upload-artifact@v4
        with:
          name: specification-pdf,html
          path: |
            artifact_output/specification.pdf
            artifact_output/specification.html
