# ファイル名: .github/workflows/convert-docs.yml

name: Pandoc Document Conversion
run-name: ${{ github.actor }} is Running Pandoc, Upload Actions

on:
  # "main" ブランチに push されたときに実行
  push:
    branches: [ "pipeline_test" ]
  # 手動でも実行できるようにする
  workflow_dispatch:

jobs:
  convert:
    # 実行環境
    runs-on: ubuntu-latest

    steps:
      # 1. リポジトリのコードをチェックアウトする
      - name: Check out repository
        uses: actions/checkout@v4
      # 2. 変換先のディレクトリを作成 (オプションだが推奨)
      - name: Create Artifact Directory
        run: mkdir -p artifact_output

      # 3. GitHubのPandoc Converter のPDFへの変換アクションを実行する
      - name: Convert Markdown to PDF
        uses: docker://pandoc/core:3.8
        with:
          # 変換する入力ファイル
          source: "specification_png.md"
          # 出力するファイル名
          output-format: pdf
          output: artifact_output/specification.pdf
          # Pandocに渡す追加オプション（例: スタンドアロン、目次）
          extra-args: "--standalone --toc --number-sections -V margin-left=20mm -V margin-right=20mm -H code_style.tex"

      # 4. GitHubのPandoc Converter のHTMLへの変換アクションを実行する
      - name: Convert Markdown to HTML
        uses: docker://pandoc/core:3.8
        with:
          # 変換する入力ファイル
          source: "specification.md"
          # 出力するファイル名
          output-format: html
          output: artifact_output/specification.html
          # Pandocに渡す追加オプション（例: スタンドアロン、目次）
          extra-args: "--standalone --toc --number-sections -c pandoc.css -c custom.css"

      # 5. PDFアーティファクトのアップロード
      - name: Upload PDF Artifact
        uses: actions/upload-artifact@v4
        with:
          name: specification-pdf
          # パスを修正
          path: artifact_output/specification.pdf

      # 6. HTMLアーティファクトのアップロード
      - name: Upload HTML Artifact
        uses: actions/upload-artifact@v4
        with:
          name: specification-html
          # パスを修正
          path: artifact_output/specification.html
